@import url('https://fonts.googleapis.com/css?family=Acme:300,400');

body {
  background-image: url(/img/bcg-img.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /* background-blend-mode: multiply; */
  background-size: cover;
  font-family: 'acme';
  color: black;
  text-align: center;
  min-height: 100vh;
}

table {
  margin: auto;
  border-collapse: collapse;

}

.cell {
  width: 40px;
  height: 40px;
  font-size: 1.5em;
  border: 2px solid purple;
}

.cell img {
  height: 30px;
}

.sky {
  background-color: lightblue;
}

.ground {
  background-color: brown;
}
.modal {
  display: none;
  border: solid 4px grey;
  width: 400px;
  height: 200px;
  background-color: rgb(222, 226, 228);
  color: black;
  font-size: 32px;
transition: 300ms;
  position: absolute;
  top: 200px;
  left: calc(50% - 150px);
}

.restart-btn {
  width: 120px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(11, 45, 56);
  color: rgb(230, 221, 221);
  padding: 10px;
  cursor: pointer;
}
